header h2 {
	width: 100%;
	background-color: var(--color-background-3);
	text-align: center;
	color: var(--foreground-1);
	font-weight: var(--font-weight-light);
}

header h4 {
	width: 100%;
	background-color: var(--color-background-4);
	text-align: center;
	color: var(--foreground-1);
	font-weight: var(--font-weight-light);
}

h2 {
	padding: var(--spacing-1) 0;
}

.content h3 {
	margin-top: var(--spacing-3);
}

#invite-username, #invite-link, #invite-code {
	margin: var(--spacing-1);
}

.pfp {
	height: var(--spacing-6);
	width:  var(--spacing-6);
	display: inline-block;
	background-size: cover;
	border-radius: 100%;
	background-color: #fff;
	background-position: center;
	position: relative;
	border: 1px solid var(--color-border);
}

tr {
	height: var(--spacing-6);
}

tr:not(:first-of-type) {
	border-top: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
}

td {
	padding: var(--spacing-1);
	vertical-align: middle;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: var(--spacing-2) auto;
}

.table-container, .multi-tables {
	overflow-x: auto;
	display: inline-block;
	white-space: nowrap;
}

.multi-tables {
	display: block;
}

#assignment-table tr:not(:first-of-type) {
	border: 1px solid var(--color-border);
}

#assignments-list {
	width: 100%;
	margin: auto;
}


#assignments-list th, #assignments-list td {
	text-align: right;
}

#assignments-list th:first-child, #assignments-list td:first-child {
	text-align: left;
}

#student-assignments-list-container {
	width: 100%;
}

#student-assignments-list {
	width: 100%;
}

.assignment-num {
	position: relative;
}

.hover-info {
	display: none;
	position: absolute;
	top: 0;
    left: 15px;
	background-color: var(--color-background-3);	
	box-shadow: 0 0 5px #777;;
	color: #000;
	border-radius: var(--border-radius-1);
}

a:hover .hover-info, a .hover-info:hover {
	display: block;
}