#class-list {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	gap: var(--spacing-2);
}

@media screen and (min-width: 400px) {
	#class-list {
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (min-width: 700px) {
	#class-list {
		grid-template-columns: repeat(3,1fr);
	}
}

@media screen and (min-width: 1050px) {
	#class-list {
		grid-template-columns: repeat(4,1fr);
	}
}

.card .image {
	height: calc(var(--card-height) * 0.55);
	width: 100%;
	object-fit: cover;
}

h2 {
	margin: var(--spacing-1) 0;
}

.card {
	--card-height: 420px;
	height: var(--card-height);
	pointer-events: none;
}

.card, .invite-card {
	position: relative;
	background-color: #ffffff;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-2);
	-webkit-transition: 0.1s box-shadow;
	transition: 0.1s box-shadow;
	overflow: hidden;
}

.invite-card {
	font-size: var(--font-size-desktop-text-large);
	margin: var(--spacing-1) 0;
	padding: var(--spacing-1);
	width: fit-content;
}

.card:hover {
	box-shadow: var(--shadow-2);
}

.invite-card:hover {
	box-shadow: var(--shadow-1);
}

.invite-card .options-wrapper {
	margin-left: var(--spacing-1);
}

.accept {
	color: var(--color-positive-1);
	cursor: pointer;
	border-radius: 50%;
}

.decline {
	color: var(--color-negative-1);
	cursor: pointer;
	border-radius: 50%;
}

.accept:hover {
	background-color: var(--color-positive-1);
	color: #ffffff;
}

.decline:hover {
	background-color: var(--color-negative-1);
	color: #ffffff;
}


.invite-card ion-icon {
	transform: scale(1.5) translateY(-1px);
	margin-left: var(--spacing-half);
}

.card .pfp, .invite-card .pfp {
	width: 24px;
	min-width: 24px;
	height: 24px;
	min-height: 24px;
	display: block;
	background-size: cover;
	border-radius: 100%;
	background-color: #fff;
	background-position: center;
	position: relative;
	border: 1px solid var(--color-border);
}



.card .image {
	border-top-right-radius: var(--border-radius-2);
	border-top-left-radius: var(--border-radius-2);
	overflow: hidden;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	background-color: var(--color-background-3);
}

.card .content {
	position: relative;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: var(--spacing-2);
	height: calc(var(--card-height) * 0.45);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: transparent;
}

.card .heading {
	font-weight: var(--font-weight-regular);
	white-space: nowrap;
}


.v-stack>* {
	margin-bottom: var(--spacing-1);
}

.text {
	font-size: var(--font-size-desktop-text-small);
	font-family: var(--font-family-sans-serif);
	font-weight: var(--font-weight-regular);
	color: var(--color-foreground-1);
	text-align: left;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	overflow: hidden;
}

.v-stack>*:last-child {
	margin-bottom: 0;
}

.language {
	margin-top: auto;
}

.h-stack>* {
	margin-right: 2px;
}

.lang-icon-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 14px;
	height: 14px;
}

img.lang-icon {
	display: block;
	height: 100%;
	width: auto;
}

#invite_code {
	width: 250px;
}