/* repl.it's root styles */
:root {
	--font-family-sans-serif: 'IBM Plex Sans',sans-serif;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-size-desktop-text-small: 14px;
	--font-size-desktop-text-medium: 16px;
    --font-size-desktop-text-large: 18px;
	--color-white: #ffffff;
	--color-overlay: rgba(0,0,0,0.5);
    --shadow-1: 0 4px 4px rgba(0,0,0,0.2);
	--shadow-2: 0 4px 8px rgba(0,0,0,0.2);
	--spacing-1: 8px;
	--spacing-2: 16px;
	--spacing-3: 24px;
	--spacing-4: 32px;
    --spacing-6: 48px;
	--spacing-half: 4px;
	--border-radius-1: 4px;
	--border-radius-2: 6px;
	--color-background-1: #ffffff;
	--color-background-2: #f6f6f6;
	--color-background-3: #eeeeee;
	--color-background-4: #dedede;
	--color-control-1: #e0e0e0;
	--color-control-2: #e9e9e9;
	--color-control-3: #f3f3f3;
	--color-border: #e0e0e0;
	--color-foreground-1: #363636;
	--color-foreground-2: #6f6f6f;
	--color-foreground-3: #949494;
	--color-primary-1: #3485e4;
	--color-primary-2: #337ad1;
	--color-primary-3: #3272c2;
	--color-primary-transparent-1: rgba(52,133,228,0.48);
	--color-negative-1: #ff491c;
    --color-positive-1: #21a243;
    --color-green-1: #21a243;
    --color-green-3: #228a3a;
    --color-green-transparent-1: rgba(24,204,81,0.48);
    --color-red-1: #ff491c;
    --color-red-3: #d8411b;
    --color-red-transparent-1: rgba(255,73,28,0.48);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

main {
	margin: 0 auto;
	max-width: 1400px;
	padding: var(--spacing-4) var(--spacing-2);
	position: relative;
}

a {
	font-family: inherit;
	color: #4183c4;
	cursor: pointer;
	-webkit-text-decoration: none;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	-webkit-text-decoration: underline;
	text-decoration: underline;
}

header h1 {
	width: 100%;
	padding: 20px 0;
	font-size: 50px;
	background-color: #68CDEE;
	text-align: center;
	color: #ffffff;
	font-weight: 100;
}

.teacher-link {
	top: 0;
	right: 0;
	position: absolute;
}

.back-link {
	top: 0;
	left: 0;
	position: absolute;
}


input[type="file"] {
	border: none;
	visibility: hidden;
}

input[type="file"]::-webkit-file-upload-button {
  	visibility: hidden;
}

button, input[type="file"]::before, #delete-classroom, #delete-assignment, #clone-classroom {
	background-color: #f3f3f3;
	border: 1px solid #e0e0e0;
	color: #3485e4;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-desktop-text-small);
	font-family: var(--font-family-sans-serif);
	border-radius: var(--border-radius-2);
	cursor: pointer;
	outline: 0;
	padding: var(--spacing-1);
	text-align: center;
	-webkit-transition: 0.1s all ease-in-out;
	transition: 0.1s all ease-in-out;
	font-weight: var(--font-weight-medium);
	width: fit-content;
	white-space: nowrap;
	line-height: var(--font-size-desktop-text-small);
	visibility: visible;
}

button:hover, input[type="file"]:hover::before, #delete-classroom:hover, #delete-assignment:hover, #clone-classroom:hover {
	background-color: #337ad1;
	border: 1px solid #337ad1;
	color: #ffffff;
}

input {
	appearance: none;
	font-size: var(--font-size-desktop-text-medium);
	display: inline-flex;
	width: 100%;
	outline: none 0px;
	background-color: transparent;
	border: 1px solid var(--color-control-1);
	margin: 0px;
	color: inherit;
	padding: var(--spacing-1);
	border-radius: var(--border-radius-1);
	flex: 1 1 auto;
}

input:focus {
	outline: none 0px;
	border-color: var(--color-primary-1);
}

textarea {
	min-height: 42px;
	height: 100px;
	resize: none;
	cursor: auto;
	font-size: var(--font-size-desktop-text-medium);
	font-family: var(--font-family-sans-serif);
	padding: var(--spacing-1);
	display: block;
	width: 100%;
	border-radius: var(--border-radius-2);
	border: 1px solid var(--color-control-1);
	transition: box-shadow 0.1s ease 0s;
	background-color: transparent;
	color: var(--color-foreground-1);
}

textarea:focus, textarea:active {
	outline: none;
	border-color: var(--color-primary-1);
}


button[type="submit"] {
	background-color: var(--color-primary-1);
	border: 1px solid var(--color-primary-1);
	color: var(--color-white);
}

button[type="submit"]:disabled {
	opacity: 0.5;
	pointer-events: none;
}

button[type="submit"]:focus {
	outline-offset: 2px;
	box-shadow: 0 0 0 3px var(--color-primary-transparent-1);
}

button[type="submit"]:active {
	background-color: var(--color-primary-3);
}

button[type="submit"]:hover {
	background-color: var(--color-primary-2);
	border: 1px solid var(--color-primary-2);
	color: var(--color-white);
}

.drop-wrap {
	position: relative;
}


.dropdown {
	display: none;
	position: absolute;
	top: 36px;
	left: 0px;
	width: 100%;
	background-color: #ffffff;
	max-height: 320px;
	overflow-y: auto;
	border-bottom-left-radius: var(--border-radius-1);
	border-bottom-right-radius: var(--border-radius-1);
	border: 1px solid var(--color-primary-1);
	z-index: 9999;
	border-top: 0px none;
	list-style: none;
	padding: var(--spacing-1);
}

.dropdown li {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: start;
	font-size: var(--font-size-desktop-text-medium);
	padding: var(--spacing-1);
	user-select: none;
	height: 40px;
	overflow: hidden;
	border-radius: var(--border-radius-1);
	cursor: pointer;
}

.dropdown li:hover {
	background-color: var(--color-control-1);
}

.dropdown img {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-right: var(--spacing-1);
	width: 18px;
}

.dropdown .text {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	overflow: hidden;
}

.error {
	color: var(--color-negative-1);
}

.success {
	color: var(--color-positive-1);
}



.h-stack {
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.v-stack {
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

ion-icon {
	vertical-align: middle;
}

.link-blanket {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.link-blanket, a {
	pointer-events: all;
}

.clickeable {
	cursor: pointer;
}