{% extends "classroom_base.html" %}

{% block morehead %}
<link href="/static/assignment.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main %}
{% if submission["status"] == "in progress" %}
	<form class="submit-assignment" method="POST" action="/submit">		
		<input style="display: none;" name="class_id" value="{{class_id}}" readonly>
		<input style="display: none;" name="assignment_id" value="{{assignment_id}}" readonly>
		<button id="submit" type="submit">Submit</button>
	</form>
{% elif submission["status"] == "awaiting feedback" %}
	<form class="submit-assignment" method="POST" action="/unsubmit">		
		<input style="display: none;" name="class_id" value="{{class_id}}" readonly>
		<input style="display: none;" name="assignment_id" value="{{assignment_id}}" readonly>
		<button id="unsubmit" type="submit">Unsubmit</button>
	</form>
{% elif submission["status"] == "sent back" %}
	<form class="submit-assignment" method="POST" action="/submit">		
		<input style="display: none;" name="class_id" value="{{class_id}}" readonly>
		<input style="display: none;" name="assignment_id" value="{{assignment_id}}" readonly>
		<button id="resubmit" type="submit">Resubmit</button>
	</form>
{% endif %}

<div class="column-holder">
	<div class="column">
		{% if not submission["repl_url"] %}
			<form id="set-repl" method="POST" action="/setrepl">
				<a href="https://repl.it/new" target="_blank">Create Repl</a>
				<input type="text" name="repl_url" placeholder="Enter repl URL" required>
				<input style="display: none;" name="class_id" value="{{class_id}}" readonly>
				<input style="display: none;" name="assignment_id" value="{{assignment_id}}" readonly>
				<div id="setrepl-response" class="error"></div>
				<button type="submit">Submit</button>
			</form>
			<script src="/static/assignment.js"></script>
		{% else %}
			<iframe frameborder="0" width="100%" height="100%" src="{{submission['repl_url']}}?lite=true"></iframe>
		{% endif %}
	</div><!--

	--><div class="resizer" id="resize"><div>|</div></div><!--

	--><div class="column">
		<h3 id="assignment-name">{{assignment["name"]}}</h3>
		<div id="instructions">
			<h4 id="instructions-heading">Instructions: </h4>
			{{assignment["instructions"]}}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/drag.js"></script>
{% endblock %}