{% extends "classroom_base.html" %}

{% block main %}
<div class="back-link"><a href="/">Landing Page</a></div>

{% if teacher %}
	<div class="teacher-link"><a href="{{classroomId}}/teachers">Teachers Page</a></div>
	<h2>Create an Assignment</h2>
	<button id="make-assignment">Create</button>
	<div id="classroomId" style="display: none;">{{classroomId}}</div>
	<div id="make-assignment-popup"></div>
	<script src="/static/make_assignment.js"></script>
{% endif %}

<h2>Assignments</h2>
<table id="assignments-list">
	<tr>
		<th>Assignment Name</th>
		{% if not teacher %}
			<th>Status</th>
		{% endif %}
	</tr>
	{% for assignment in assignments %}
		<tr class="clickeable" onclick="window.location='{{classroomId}}/{{assignment['id']}}';">
			{% if not teacher %}
				<td>{{assignment["name"]}}</td>
				<td>{{assignment["submissions"][userId|string]["status"]}}</td>
			{% else %}
				<td>{{assignment["name"]}}</td>	
			{% endif %}
		</tr>
	{% endfor %}
</table>

{% endblock %}