{% extends "classroom_base.html" %}

{% block header %}
<h2>{{classroom["name"]}}</h2>
<h4>{{assignment["name"]}}</h4>
{% endblock %}

{% block main %}
<div class="teacher-link"><a href="teachers">Teachers Page</a></div>
<div class="back-link"><a href="/classroom/{{class_id}}">Classroom Page</a></div>

<h2>Edit Assignment</h2>
<button id="edit-assignment">Edit</button>
<div id="classroomId" style="display: none;">{{class_id}}</div>
<div id="assignmentId" style="display: none;">{{assignment_id}}</div>
<div id="edit-assignment-popup"></div>
<script src="/static/make_assignment.js"></script>

<div id="student-assignments-list-container" class="table-container">
	<table id="student-assignments-list">
		<tr>
			<th></th>
			<th>Username</th>
			<th>Name</th>
			<th>Status</th>
		{% for student in classroom["students"] %}
			<tr class="clickeable" onclick="window.location='{{assignment_id}}/{{student}}';">
				<td><a href="https://repl.it/@{{users[student]['username']}}"><img class="pfp" style="background-image:url({{users[student]['pfp']}})"></a></td>
				<td><a href="https://repl.it/@{{users[student]['username']}}">{{users[student]["username"]}}</a></td>
				<td>{{users[student]["first_name"]}} {{users[student]["last_name"]}}</td>
				<td>{{assignment["submissions"][student]["status"]}}</td>
			</tr>
		{% endfor %}
	</table>
</div>

<h2>Delete Assignment</h2>
<form method="POST" action="/deleteassignment" id="delete-assignment-form">
	<input style="display: none;" name="class_id" value="{{class_id}}" readonly>
	<input style="display: none;" name="assignment_id" value="{{assignment_id}}" readonly>
	<button type="submit" id="delete-assignment">Delete</button>
</form>
<script>
	document.getElementById("delete-assignment-form").addEventListener("submit", (e) => {
		if (!confirm("are you sure you want to delete this assignment?")) {
			e.preventDefault();
		}
	})
</script>

{% endblock %}