{% extends "classroom_base.html" %}

{% block main %}
<div class="back-link"><a href="/classroom/{{classroomId}}">Classroom Page</a></div>

<h2>Edit Classroom</h2>
<button id="edit-class">Edit</button>
<div id="edit-class-popup"></div>

<h2>Create an Assignment</h2>
<button id="make-assignment">Create</button>
<div id="classroomId" style="display: none;">{{classroomId}}</div>
<div id="make-assignment-popup"></div>
<script src="/static/make_assignment.js"></script>



<h2>Students</h2>
<button id="invite-students-button">Invite More</button>
<div id="classroomId" style="display: none;">{{classroomId}}</div>
<div id="add-students-popup"></div>

{% if classroom["students"]|length != 0 %}
	<div class="multi-tables">
		<div class="table-container">
			<table id="name-table">
				<tr>
					<th colspan="2"></th>
					<th>Username</th>
					<th>Name</th>
				{% for student in classroom["students"] %}
					<tr>
						<td class="remove-student" data-id="{{student}}"><ion-icon name="close-outline"></ion-icon></td>
						<td><a href="https://repl.it/@{{users[student]['username']}}"><img class="pfp" style="background-image:url({{users[student]['pfp']}})"></a></td>
						<td><a href="https://repl.it/@{{users[student]['username']}}">{{users[student]["username"]}}</a></td>
						<td>{{users[student]["first_name"]}} {{users[student]["last_name"]}}</td>
					</tr>
				{% endfor %}
			</table>
		</div><!--

		--><div class="table-container">
			<table id="assignment-table">
				<tr><th colspan="999999999">Assignments</th></tr>
				<tr>
					{% set count = namespace(value=1) %}
					{% for assignment in classroom["assignments"] %}
						<th><a class="assignment-num" href="{{assignment}}">
							{{count.value}}
							<div class="hover-info">{{assignments[assignment]["name"]}}</div>
						</a></th>
  						{% set count.value = count.value + 1 %}
					{% endfor %}
				</tr>			
				{% for student in classroom["students"] %}
					<tr>
						{% for assignment in classroom["assignments"] %}
							<td style="height: 69px;">{{assignments[assignment]["submissions"][student]["status"]}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% else %}
	<p>No students yet :(</p>
{% endif %}



<h2>Teachers</h2>
<button id="invite-teachers-button">Invite More</button>
<div id="add-teachers-popup"></div>

<ul>
	{% for teacher in classroom["teachers"] %}
		<li><a href="https://repl.it/@{{users[teacher]['username']}}">{{users[teacher]['username']}}</a>{% if user_id == classroom["owner_id"] and user_id != teacher %}<span class="remove-teacher" data-id="{{teacher}}"><ion-icon name="close-outline"></ion-icon></span>{% endif %}</li>
	{% endfor %}
</ul>

<h2>Clone Classroom</h2>
<button id="clone-class">Clone</button>
<div id="clone-class-popup"></div>

{% if user_id == classroom["owner_id"] %}
	<h2>Delete Classroom</h2>
	<form method="POST" action="/deleteclassroom" id="delete-classroom-form">
		<input style="display: none;" name="class_id" value="{{classroomId}}" readonly>
		<button type="submit" id="delete-classroom">Delete</button>
	</form>
	<script>
		document.getElementById("delete-classroom-form").addEventListener("submit", (e) => {
			if (!confirm("are you sure you want to delete this classroom?")) {
				e.preventDefault();
			}
		})
	</script>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="/static/make_class.js"></script>
<script src="/static/add_people.js"></script>
<script src="/static/remove_people.js"></script>
{% endblock %}