{% extends "classroom_base.html" %}

{% block header %}
<h2>{{classroom["name"]}}</h2>
<h4>{{assignment["name"]}}</h4>
{% endblock %}

{% block main %}
<div class="teacher-link"><a href="teachers">Teachers Page</a></div>
<div class="back-link"><a href="/classroom/{{class_id}}">Classroom Page</a></div>

<h2>Edit Assignment</h2>
<button id="edit-assignment">Edit</button>
<div id="classroomId" style="display: none;">{{class_id}}</div>
<div id="assignmentId" style="display: none;">{{assignment_id}}</div>
<div id="edit-assignment-popup"></div>
<script src="/static/make_assignment.js"></script>

<h2>Set Modal Answer</h2>
{% if assignment["modal_answer_url"] == None %}
	<p>No modal answer set yet</p>
{% else %}
	<p>Modal answer repl url: <a href="{{assignment['modal_answer_url']}}">{{assignment["modal_answer_url"]}}</a></p>
{% endif %}
<form method="POST" action="/setmodalanswer" id="set-modal-answer-form">
	<input style="display: none;" name="class_id" value="{{class_id}}" readonly>
	<input style="display: none;" name="assignment_id" value="{{assignment_id}}" readonly>
	<input type="text" id="modal-answer-repl-url-input" name="repl_url" placeholder="Repl URL" autocomplete="off" required>
	<button type="submit" id="set-modal-answer" disabled>Set Repl</button>
	<div class="error" id="set-modal-error"></div>
</form>
<script src="/static/modal_answer.js"></script>
<script src="/static/repl_url.js"></script>
<script>check("modal-answer-repl-url-input", "set-modal-answer");</script>

<div id="student-assignments-list-container" class="table-container">
	<table id="student-assignments-list">
		<tr>
			<th></th>
			<th>Username</th>
			<th>Name</th>
			<th>Status</th>
		{% for student in students %}
			<tr class="clickeable" onclick="window.location='{{assignment_id}}/{{student['id']}}';">
				<td><a href="https://repl.it/@{{student['username']}}"><img class="pfp" style="background-image:url({{student['pfp']}})"></a></td>
				<td><a href="https://repl.it/@{{student['username']}}">{{student["username"]}}</a></td>
				<td>{{student["first_name"]}} {{student["last_name"]}}</td>
				<td>{{assignment["submissions"][student["id"]|string]["status"]}}</td>
			</tr>
		{% endfor %}
	</table>
</div>

<h2>Delete Assignment</h2>
<form method="POST" action="/deleteassignment" id="delete-assignment-form">
	<input style="display: none;" name="class_id" value="{{class_id}}" readonly>
	<input style="display: none;" name="assignment_id" value="{{assignment_id}}" readonly>
	<button type="submit" id="delete-assignment">Delete</button>
</form>
<script>
	document.getElementById("delete-assignment-form").addEventListener("submit", (e) => {
		if (!confirm("are you sure you want to delete this assignment?")) {
			e.preventDefault();
		}
	});
</script>

{% endblock %}