{% extends "classroom_base.html" %}

{% block main %}

<div id="student-assignments-list-container" class="table-container">
	<table id="student-assignments-list">
		<tr>
			<th></th>
			<th>Username</th>
			<th>Name</th>
			<th>Status</th>
		{% for student in classroom["students"] %}
			<tr class="clickeable" onclick="window.location='{{assignment_id}}/{{student}}';">
				<td><a href="https://repl.it/@{{users[student]['username']}}"><img class="pfp" style="background-image:url({{users[student]['pfp']}})"></a></td>
				<td><a href="https://repl.it/@{{users[student]['username']}}">{{users[student]["username"]}}</a></td>
				<td>{{users[student]["first_name"]}} {{users[student]["last_name"]}}</td>
				<td>{{assignment["submissions"][student]["status"]}}</td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}